<h1>Digital Frontier Database Operations</h1>
<a href="addVideoGame.php">Add a video game to the database</a>
<br>
<a href="delVideoGame.php">Delete a video game from the database</a>
<br>
<a href="video_Games.php">Show all video Games</a>
<br>
<a href="supply.php">List supply</a>
<br>
<a href="homepage.php">Homepage</a>

