<style>
body {
    background-color: lightseagreen;
}

html, body{
    background-color: lightseagreen; 
    color: black; 
    width: 100%;
}

h1 {
    margin-left: 300px;


}
table {
	
    margin: 0 auto;
     
}

.hyperlinks {
     margin-left: 400px;


}

p {

	text-align: center;  

}

.center {
 
  width: 250px; 
  clear: both;
  margin: 50 auto;
}

.center input {
  width: 100%; 
  clear: both; 

}

.add {
  margin-left: 100px; 
}



</style>
